meter{
    width: 400px;
    height: 0.7in;
}

/* 
CSS : Cascading Style Sheets
regulated by : World Wide Web Consortium (W3C)

Types :
1. Inline css
 <body style="color:blue; text-align:center;">
  Text
 </body>

2. Internal css
<style> css </style>

3. External css
In html file : <link rel="stylesheet" href="style.css" type="text/css">
*/

/* 
Font Attributes :
1. font-family
2. font-style
3. font-weight
4. font-size
*/

/* 
display : inline | block | inline-block | none
*/

/* 
Color and Background :
1. color
2. background-color: red;
3. background-image: url("image.png");
4. background-repeat: x-repeat;
5. background-attachment
6. background-position
7. background-size
*/

/* 
1. text-decoration
2. text-transform
3. text-align
4. vertical-align
5. word-spacing
6. letter-spacing
7. line-height
8. text-indent
*/

/* 
Selectors :
1. universal selector :           * { css properties }
1. element/type selectors :       p { css properties }
2. class selectors :              .class_name { css properties }
3. id selectors :                 #id_name { css properties }
4. attribute selector             a[title] { css properties }
5. pseudo class selector          p:first-child { css properties }
6. pseudo element selector        p::first-line { css properties }
7. descendent combinator          article p { css properties }
8. child combinator               article > p { css properties }
9. adjacent sibling combinator    h1 + p { css properties }
10. general sibling combinator    h1 ~ p { css properties } 
*/

/* 
1. universal selector : use to select everything
{
  style
}

1. class selector : 
li.class_name{
  style
}

1. combined selectors : all (p) and (a) are selected
p, a{
  style
}

2. descendent combinators : every (li) in every (ul) is selected
ul li {
  style
}

3. Adjacent sibling selector : every (p) after every (div) is selected
div + p{
  style
}

3. combinator selector : all (p) inside (article)
article > p {
  style
}

4. pseudo class selector : properties applied when we hover (a) tag
a:hover{
  style
}

5. attribute selector : 
a[href="google.com"]{
  style
}

6. pseudo element selector : 
p::first-line{
  style
}

*/



